body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px; 
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px; 
}

h3 {
  font-size: 18px; 
}

a {
  color: #00B7FF;
}

.center {
  text-align: center;
}

.left {
  text-align: left; 
}