<%- include("../partials/header", {title}) %>

<section>
    <table>
        <thead>
            <tr>
                <th>Icebreaker</th>
                <th>Topic</th>
                <th># of Answers</th>
                <th>Details</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>What's the most interesting place you've been?</td>
                <td class="center">Travel</td>
                <td class="center">5</td>
                <td><a href="#">See Answers</a></td>
                <td>
                    <form action="">
                        <button>🚮</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>What's the best meal you've ever had?</td>
                <td class="center">Food</td>
                <td class="center">3</td>
                <td><a href="#">See Answers</a></td>
                <td>
                    <form action="">
                        <button>🚮</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<%- include("../partials/footer") %>